<div id="banner">
	<div class="outline"></div>
	
	
	<img class="" src="./images/bg.jpg" alt="" inline>
	<div class="frame frame1">
		<!-- <img class="bg" src="./images/bg.jpg" alt="" inline> -->
		<img class="retina bg_logo" src="./images/bg-logo.png" alt="" inline>
		<img class="retina t1 t1a" src="./images/t1a.png" alt="" inline>
		<img class="retina t1 t1b" src="./images/t1b.png" alt="" inline>
		
		
		<img class="retina logo-corner" src="./images/logo-corner.png" alt="" inline>

		<img class="draw_net" src="./images/draw_net.png" alt="" inline>
		<!-- <img class="draw_shoot_player" src="./images/draw_shoot_player.png" alt="" inline>
		<img class="draw_shoot_lines" src="./images/draw_shoot_lines.png" alt="" inline>

		<img class="draw_defend_player" src="./images/draw_defend_player.png" alt="" inline>
		<img class="draw_defend_lines" src="./images/draw_defend_lines.png" alt="" inline> -->
	

	<img class="retina draw_defend_player" src="./images/stopper.png" alt="" inline>
		<img class="retina draw_shoot_player" src="./images/dunker.png" alt="" inline>
		
		

	</div>
	<div class="frame frame2">
		<!-- <img class="bg" src="./images/bg.jpg" alt="" inline> -->
		<img class="retina t2" src="./images/t2.png" alt="" inline>
		<img class="retina cta" src="./images/cta.png" alt="" inline>
		<img class="retina cta2" src="./images/cta2.png" alt="" inline>
		<img class="illust" src="./images/illust.png" alt="" inline>
		<img class="retina phone" src="./images/phone.png" alt="" inline>
		<img class="retina legal" src="./images/legal.png" alt="" inline>
		<% include ../_common/templates/legal %>	
	</div>
</div>